" GPG
let g:GPGPreferArmor=1
let g:GPGDefaultRecipients=["peter.romfeld.hk@gmail.com"]

execute pathogen#infect()

set nocp
set backspace=indent,eol,start
set tabstop=2
set shiftwidth=2
set expandtab
set smarttab
set showcmd
set showmatch
set hlsearch
set incsearch
set ruler
set background=dark
filetype plugin indent on
syntax on
filetype on

autocmd BufWritePre * :%s/\s\+$//e

map <leader>td <Plug>TaskList
map <leader>g :GundoToggle<CR>
let g:pyflakes_use_quickfix = 0
au FileType python set omnifunc=pythoncomplete#Complete
let g:SuperTabDefaultCompletionType = "context"
set completeopt=menuone,longest,preview
map <leader>n :NERDTreeToggle<CR>
map <leader>a <Esc>:Ack!
